* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:sans-serif;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}


body {
    background-color: #ffff;
    position: relative;
    
}

.header {
    background-color: #0f0f0f;
    width: 100%;
    height: 68px;
    display: flex;
    font-size: 2rem;
    color: #ffff;

}
 ul {
    
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
 }
a {
    color: #ffff;
    text-decoration: none;
  
}

a:hover {
    color: rgb(190, 180, 39);
    transition: 0.3s;
  

}

.btn:hover {
    color: white;
    background-color: #0f0f0f;
    transition: 0.3s ease-in-out;
}

.contact-button:hover {
    color: white;
    background-color: #0f0f0f;
    transition: 0.3s ease-in-out;
}

.nav-bar-container {

    display: flex;
    padding: 20px 40px 20px 40px;
    width: 100%;
    height: 100%;
    
}
.nav-bar-content {
    
    width: 100%;
    height:auto;
    display: flex;
}
.nav-bar-box {
   
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.mobile-menu {
    
    display: none;
}

.menu-mobile-links { 
    height: 100vh;
    width: 50%;
 
}

.mobile-menu span {

    font-size: 40px;
    cursor: pointer;
}




.home {
    height: 100vh;
    width: 100%;
    display: flex;
    background-image: url(../site-adv.new/assets/martelo-da-corte-e-livros-conceito-de-julgamento-e-direito.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    flex-direction: column;

}

.home-container {
    
    width: 100%;
    height: 90%;
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 4rem;

}

.home-content {
    font-size: 5.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20rem;
    position: relative;
    padding: 20px;
}

.home-text {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    justify-content: center;
    
}

.btn {
    width: 400px;
    height: 60px;
    border-radius: 1rem;
    border-style: none;
    background-color: rgb(190, 180, 39); cursor: pointer;
    color: rgb(0, 0, 0);
    font-size: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services {
    background-color: #f9f9f9;
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.services-container {
    
    display: flex;
    align-items: center;
    width: 100%;
    height: 90%;
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 4rem;
  
}

.services-content {

    font-size: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    gap: 5rem;
    position: relative;
  
   
}
.service-item {
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    border-radius: 1.7rem;
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.about {
    font-size: 15px;
    width: 100%;
    height: 100vh;
}



.about-content {
    
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(4, 25vh);
  
  
}

.item-1 {
    grid-column: 1 / span 5;
    grid-row: 1 / span 2;
}

.item-2 {
    grid-column: 6 / span 6;
    grid-row: 1 / span 2;
  
}

.item-3 {
    grid-column: 7 / span 5;
    grid-row: 3 / span 2;

}

.item-4 {
    grid-column: 1 / span 6;
    grid-row: 3 / span 2;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.item-text-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start ;
    justify-content: center;   
    padding-top: 10rem;
    padding-left: 20rem;
    padding-right: 1rem;
    
}
.item-text-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start ;
    justify-content: center;   
    padding-top: 10rem;
    padding-right: 20rem;
    padding-left: 1rem;
    
}

.team {
    
    background-color: #f9f9f9;
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.team-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 90%;
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 4rem;
  
    
}

.team-content {
    
    font-size: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    gap: 5rem;
    position: relative;
}

.player-1, .player-2, .player-3, .player-4 {
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    border-radius: 1.7rem;
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact {
    width: 100%;
    height: 100vh;
    font-size: 4rem;
    
}

.contact-container {
    
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 4rem;
}

.contact-content {
   
    width: 100%;
    height: 100%;
    padding-top: 25rem;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    gap: 30rem;
}

.contact-text {
    text-align:center;
}

.contact-button {
    width: 400px;
    height: 60px;
    border-radius: 1rem;
    border-style: none;
    background-color: rgb(190, 180, 39); cursor: pointer;
    color: rgb(0, 0, 0);
    font-size: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    background-color: #0f0f0f;
    width: 100%;
    height: auto;

}

.footer-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 4rem;
    
}

.footer-content {
   
    width: 100%;
    height: 100%;
}

.contacts-links { 
    padding: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.links-footer-contact {
    display: flex;
    gap: 8px;
    flex-direction: row;
    cursor: pointer;
}

.contacts-links span {
    color: #ffffff;
    font-size: 30px;
    
}

.contacts-links p {
    color: #ffffff;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

@media (max-width: 1000px) {
    .services-content {
        gap: 2rem;
    }

    .item-text-1 {
        padding-top: 5rem;
    }
    .item-text-2 {
        padding-top: 5rem;
    }
    .team-content {
        gap: 2rem;
    }

}

@media (max-width: 970px) {

    .item-text-1 {
        padding-left: 10rem;
    }
    .item-text-2 {
        padding-right: 10rem;
    }

}
@media (max-width: 858px) {

    .service-item {
        height: 200px;
    }

    .player-1, .player-2, .player-3, .player-4 {
        height: 200px;
    }
   
}

@media (max-width: 767px) {
    html {
        font-size: 50.5%;
    }
   
    .services {
        height: 100vh;
    }
    .services-content {
        flex-direction: column;
    }
    .service-item {
        width: 250px;
        height: 200px;
    }

    .team {
        height: 100vh;
    }
    .team-content {
        flex-direction: column;
    }
    .player-1, .player-2, .player-3, .player-4 {
        width: 250px;
        height: 200px;
    }

}

@media (max-width: 690px) {

    .item-text-1 {
        font-size: 13px;
        padding: 3rem;
    }
    .item-text-2 {
        font-size: 13px;
        padding: 3rem;
    }

    .about-content {
    
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 10vh);
      
      
    }
    
    .item-1 {
        grid-column: 2 / span 8;
        grid-row: 1 / span 2;
    }
    
    .item-2 {
        grid-column: 2 / span 8;
        grid-row: 4 / span 2;
      
    }
    
    .item-3 {
        grid-column: 2 / span 8;
        grid-row: 6 / span 2;
    
    }
    
    .item-4 {
        grid-column: 2 / span 8;
        grid-row: 9 / span 2;
    }

}
@media (max-width: 450px) {

    html {
        font-size: 45.5%;
    }

    .btn {
        
            width: 350px;
            height: 50px; 
    }


    .contact-button {
        width: 350px;
        height: 50px; }


}

@media (max-width: 375px) {

    .btn {
        
        width: 280px;
        height: 50px; 
}


.contact-button {
    width: 280px;
    height: 50px; }


}

@media (max-width: 360px) {


    html {
        font-size: 35.5%;
    }
    
}